html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../media/earth.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header div {
    display: inline-flex;
}

#about {
    margin: 0 0 0 2rem;
    top: 0;
    padding: 0 0 0 1rem;
    letter-spacing: 5px;
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px rgba(226, 220, 220, 0.891);
    color: black;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 55px 5px lightsalmon;
    transition: box-shadow 1s ease;
}

#about * {
    margin: 10px;
    z-index: 100;
}

#about h3 a{
    margin: 0;
}
#about h3 a i {
    margin: 0;
}

.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover; /*This will cover the area without stretching */
    position: fixed;
    object-position: center;
}

.image-container {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    overflow: hidden; /* This will hide the parts outside the container */
    position: relative;
    border-radius: 50%;
    translate: 10px 0px;
}

a {
    color: black;
    transition: color 1s, font-weight 1s, letter-spacing 1s, font-size 1s;
}

a:hover {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bolder;
    color: rgb(159, 140, 222);
    font-size: larger;
    text-shadow: none;
}

#story, form {
    border-radius: 10px;
    box-sizing: border-box;
    margin: 1%;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 35px 15px lightsalmon;
    transition: box-shadow 1s ease;
    height: auto;
    width: 98%;
}

#story p, input, label, button, textarea, form h2 {
    padding: 5px 5px;
    margin: 5px 5px;
}

#story, #about, form {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);    
}

form {
    margin-top: 5rem;
}

form h2{
    padding-bottom: 2rem;
}

input, textarea {
    width: 50%;
    box-shadow: 3px 3px 3px lightgray;
}

button {
    width: 10rem;
    height: 4rem;
    border-radius: 35px;
    font-weight: 780;
    font-size: 1.5rem;
    box-shadow: 3px 3px 3px;
    background-image: linear-gradient(to right, white, lightsalmon);
    border: none;
}

button:active {
    box-shadow: -3px -3px 3px;
    background-image: linear-gradient(to right, black, lightsalmon);
    color: white;
}
